html, body {
  margin: 0;
  height: 100%;
  font-size:16px
}

body {
  background-color: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

#root {
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 10px;
}

#root div {
  width: 50%;
  margin: 0 auto;
  padding:3%;
}

#root div div {
  height: 100%;
}

#root div div div {
  position: relative;
  height: auto;
}

h1, h2 {
  // margin:15% 5% 5% 5%;
}

.card{
  border:5px solid white;
}

button {
  border-radius: 8px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 2px;
}

.black {
  color: black;
}

.white {
  color: white;
}

.light-button {
  background-color: rgba(255,255,255,0.5);
  color: rgb(0,0,0);
}

.dark-button {
  background-color: rgba(0,0,0,0.5);
  color: rgb(255,255,255);
}
